body {
  background-color: #f2f2f2;
  font-family: "Poppins";
}
.header-icon {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.main-image {
  height: 435px;
  object-fit: cover;
}
.ad-card-image {
  height: 200px;
  object-fit: cover;
}
.card-hover:hover {
  transform: scale(1.05);
  color: green;
}
.card-hover {
  transition: all 0.5s ease-in-out;
}
.house-image{
  height: 316px;
  object-fit: cover;
}
@media (max-width: 768px) {
  body {
    padding-bottom: 150px;
  }
}
