body {
  background-color: #f2f2f2;
  font-family: "Poppins";
}
.header-icon {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.bg-green {
  background-color: #29b24e;
}
.text-green {
  color: #29b24e;
}
.form-check-input {
  border-color: #29b24e;
}
.form-check-input:checked {
  background-color: #29b24e;
  border-color: #29b24e;
}
.form-check-input:focus {
  box-shadow: 0 0 0 4px rgba(0, 128, 0, 0.25);
  border-color: #29b24e;
}
.custom-button {
  color: white;
  transition: all 0.3s ease;
}
.custom-button:hover {
  background-color: #229944;
  color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
.custom-button-outline {
  border: 1px solid #29b24e;
  transition: all 0.3s ease;
}
.custom-button-outline:hover {
  color: black;
  background-color: #229944;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
.ad-card-image {
  height: 202px;
  object-fit: cover;
}
.card-hover:hover {
  transform: scale(1.05);
  color: #29b24e;
}
.card-hover {
  transition: all 0.5s ease-in-out;
}
.color-line {
  background-color: #cfead6;
  height: 1px;
  border: none;
  opacity: 1;
}
.form-select.specific-green-border {
  border-color: #0d9ca436;
  box-shadow: none;
}
.sell-button-lift {
  margin-top: -18px;
}
.nav-underline .nav-link.active {
  border-bottom-color: #29b24e;
}
.nav-underline .nav-link:hover {
  border-bottom-color: #29b24e;
}

@media (width < 768px) {
  body {
    padding-bottom: 100px;
  }
  .custom-image-container {
    height: 435px;
  }
  .custom-image-container2 {
    height: 316px;
  }
}
